<%- include('partials/header') %>

<!-- <div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div> -->
<header>
  <div class="menu">
    <img src="<%= userIconString %>" alt="" class="avatar" />
  </div>
  <div class="weeklyTotal">
    <div class="circle">
      <p><%= weeklyTotal %></p>
    </div>
    <p class="weeklyTotalText">Work this week</p>
  </div>
</header>
<div class="leaderBoard">
  <div class="progressContainer">
    <img src="./pictures/pickson.jpg" alt="avatar">
    <div class="progressBody">
      <div class="pickosnProgressBar bar" style="<%= picksonPercentageCompletion %>">
      </div>
    </div>
  </div>
  <div class="progressContainer">
    <img src="./pictures/acheneje.jpg" alt="avatar">
    <div class="progressBody">
      <div class="achenejeProgress bar" style="<%= achenejePercentageCompletion %>">
      </div>
    </div>
  </div>
  <div class="progressContainer">
    <img src="./pictures/benard.jpg" alt="avatar">
    <div class="progressBody">
      <div class="benardProgress bar" style="<%= benardPercentageCompletion %>">
      </div>
    </div>
  </div>
  


</div>
<a href="/submit" class="button2">
  add time
</a>

<%- include('partials/footer') %>
